* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container {
    width: 100%;
    min-height: 100vh;
    background-color: #19172a;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 100px;
}

.second-container {
    gap: 20px;
    padding: 20px 0px;
}

.third-container a {
    text-decoration: none;
    font-size: 3.1rem;
    padding: 10px 33px;
    background-color: rgba(204, 204, 204, 0.5);
    color: white;
    border-radius: 4px;
}


.second-container a {
    text-decoration: none;
    font-size: 2.1rem;
    padding: 8px 33px;
    background-color: white;
    border-radius: 4px;
    color: blue;
}

.clock {
    width: 800px;
    height: 250px;
    display: flex;
    align-items: center;
    box-shadow: 0px 0px 45px 1px rgba(205, 205, 205, 0.2);
    background-color: rgba(205, 205, 205, 0.5);
    backdrop-filter: blur(20px);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
}

.clock h1,
.clock .dot {
    font-size: 10.1rem;
    color: rgba(204, 204, 204, 0.9);
}

.tests {
    width: 50%;
    display: flex;
    flex-direction: column;
    list-style: none;
}

.tests li a {
    width: 100%;
    text-decoration: none;
    padding: 10px 33px;
    display: inline-block;
    margin-bottom: 20px;
    background-color: rgba(204, 204, 204, 0.4);
    font-size: 2.1rem;
    border-radius: 4px;
}

.tests .link1 {
    background-color: red;
    color: #fff;
}

.tests .link2 {
    background-color: green;
    color: #fff;
}

.tests .link3 {
    background-color: blue;
    color: #fff;
}

.main {
    display: flex;
    gap: 400px;
    justify-content: space-between;
    padding: 0px 85px;
}

.ruler {
    width: 50%;
    background-color: white;
    padding: 18px 35px;
    border-radius: 0px 28px 0px 28px;
    line-height: 35px;
    font-weight: medium;
    font-size: 1.2rem;
}